<div>
    <br>
    <form>
        <div>
            <label>Name: </label>
            <input type='Text' 
                placeholder='Name' 
                id="name"
                name="name" 
                [(ngModel)]="compartidoService.name">
        </div>
        <div>
            <label>Email: </label>
            <input type='email' 
               placeholder='Email' 
               id="email"
               name="email" 
               [(ngModel)]="compartidoService.email">
        </div>
        
    </form>
    <br>
        <button id="btn-2">Update</button>
</div>


